
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  padding-top: 70px;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
footer {
  padding: 30px 0;
}
a {
  cursor: pointer; 
  text-decoration: none;
}

/*
 * Off Canvas navbar
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: left;
    color:#fff !important;
    z-index:2;
}

.row-afandi-ver
{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -10px;
}

.no-margin
{
    margin: 0;
}

.no-padding
{
    padding: 0;
}

.upload-btn
{
  cursor:pointer; 
  padding: 2px 85px 2px 85px; 
  border: solid 2px rgba(186, 0, 0, 1); 
  color: rgba(186, 0, 0, 1); 
  text-decoration: none;
}

.navigation-badge
{
  font-size: 20px; 
  padding:5px 10px 5px 10px; 
  border-radius: 100%; 
  margin-left : -13px;
  background-color: #8c8c8c; 
  color: white;
}

.navigation-badge-active
{
  font-size: 20px; 
  padding:5px 10px 5px 10px; 
  border-radius: 100%; 
  margin-left : -13px;
  background-color: #4dc3ff; 
  color: white;
}

.navigation-font
{
  font-size: 25px;
  margin-left : -10px;
  color: #8c8c8c;
}

.navigation-font-active
{
  font-size: 25px; 
  color: #4dc3ff;
}

.color-blue
{
  color: #4dc3ff;
}

.border-blue
{
  border: solid 2px #4dc3ff; 
}

.border-top-none
{
  border-top: none;
}

.border-right-none
{
  border-right: none;
}

.border-bottom-none
{
  border-bottom: none;
}

.border-left-none
{
  border-left: none;
}

.navigation-padding
{
  padding: 20px;
}

.padding-top-15
{
  padding-top: 15px;
}